/*----------------------------------------------------------------------------\\\\
    Logout
    Logout styling
\\\\----------------------------------------------------------------------------/

/*  Variables
\\\\----------------------------------------------------------------------------*/




/*  Component
\\\\----------------------------------------------------------------------------*/

.btnPrimary {
    background-color: var(--highlight);
    color: var(--base);
    border: none;
}
