@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

:root {
    --base: #364f6b;
    --primary: #3fc1c9;
    --text: #f5f5f5;
    --highlight: #fc5185;
    --fontbrand: 'Work Sans', sans-serif;
    --space: 12px;
}


body {
    background-color: var(--base);
}
